.about-page-banner .subtitle {
    font-size: 24px;
    margin: 0;
    font-family: noto-sans-bold;
    color: #fff;
}

.service-desc-section {
    width: 100%;
    background-color: #acacac;
    padding: 24px;
}

.service-desc-inner {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.service-desc-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin-bottom: 30px;
}

.service-desc-card {
    width: 100%;
    height: 100%;
    background-color: #FAF9CA;
    padding: 18px;
    border-radius: 20px;
}

.service-desc-card .title {
    margin: 0;
    font-size: 32px;
    text-align: center;
    font-family: noto-sans-bold;
    margin-bottom: 10px;
}

.service-desc-card .description {
    margin: 0;
    font-size: 17px;
}

.service-desc-card li {
    margin: 5px 0;
    font-size: 18px;
}

.how-it-works-section {
    width: 100%;
    background-color: #359F49;
    padding: 40px 24px;
}

.how-it-works-inner {
    max-width: 1200px;
    width: fit-content;
    margin: 0 auto;
}

.how-it-works-inner .section-title {
    margin: 0;
    font-size: 42px;
    text-align: center;
    font-family: noto-sans-bold;
    color: #fff;
    text-transform: uppercase;
}

.how-it-works-row {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

.how-it-works-row .options-video {
    width: 450px;
    height: 250px;
}

.service-testimonials-section {
    width: 100%;
    padding: 24px;
}

.testimonial-inner {
    max-width: 1200px;
}
